@inject Infrastructure.ApplicationLogic.Person.Concretes.IPersonState personState
@model VejledningsBooking.ViewModel.CreateCalenderViewModel
@if(personState.GetUserType().Result == PersonType.Teacher)
{
    Html.AntiForgeryToken();

    <form class="form-group" asp-action="Create" method="post">
        <input type="hidden" asp-for="HoldList" />
        <input type="text" class="form-control" placeholder="Description" asp-for="Calender.Description" />
        <select multiple="multiple" class="custom-select" asp-for="SelectedIndicies">
            @foreach(var hold in Model.HoldList)
            {
                <option value="@hold.Id">@hold.Name</option>
            }
        </select>
        <button type="submit">Create</button>
    </form>
}