@inject Infrastructure.ApplicationLogic.Person.Concretes.IPersonState state
@model VejledningsBooking.ViewModel.CalenderViewModel
@{VejledningsBooking.ViewModel.CreateBookingViewModel bookingViewModel = new VejledningsBooking.ViewModel.CreateBookingViewModel();
    bookingViewModel.ThePerson = Model.SelectedPerson;
    VejledningsBooking.Views.Timeslot.CreateTimeslotViewModel createTimeslotViewModel = new VejledningsBooking.Views.Timeslot.CreateTimeslotViewModel();
    bookingViewModel.SelectedCalender = Model.SelectedCalender;
}

@if (state.GetUserType().Result == PersonType.Teacher)
{
    @Html.ActionLink("Create Calender", "Create", "Calender", null, new { @class = "btn btn-primary" })
}
<section>
    <form asp-action="Index">
        <select onchange="this.form.submit()" asp-for="SelectedHoldId">
            <option disabled selected>-- Select a hold --</option>
            @foreach (var hold in Model.SelectedPerson.HoldLines)
            {
                <option value="@hold.Hold.Id">@hold.Hold.Name</option>
            }
        </select>
    </form>

</section>
<section>
    @if (Model != null)
    {
        @if (Model.SelectedCalender != null)
        {
            @if (state.GetUserType().Result == PersonType.Teacher)
            {
    <div style="display:block">
        <button class="btn btn-primary" onclick="ToggleModal('CreateTimeslotModal')" data-toggle="modal" data-target="#CreateTimeslotModal">Create Timeslot</button>
        @{ 
            createTimeslotViewModel.Timeslot.TeacherId = Model.SelectedPerson.Id;
            createTimeslotViewModel.Timeslot.CalendarId = Model.SelectedCalender.Id;
        }
        </div>

        }
        <partial name="~/Views/Calender/SchemaPartial.cshtml" model="Model" />

        }
        }

</section>
<partial name="~/Views/Booking/Create.cshtml" model="bookingViewModel" />
<partial name="~/Views/Timeslot/Create.cshtml" model="createTimeslotViewModel" />

