@model VejledningsBooking.ViewModel.CreateBookingViewModel
<div id="CreateBookingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create booking</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AttachBooking" method="post" asp-controller="Timeslot">
                    @Html.AntiForgeryToken()
                    <h5>Start time</h5>
                    @Html.DisplayFor(x => x.TheBooking.StartDateTime)
                    <h5>End time</h5>
                    @Html.DisplayFor(x => x.TheBooking.EndDateTime)
                    <h5>With teacher</h5>
                    @Html.DisplayFor(x => x.TheTimeslot.Teacher.FirstName)
                    <input type="hidden" asp-for="TheBooking.EndDateTime" />
                    <input type="hidden" asp-for="TheBooking.StartDateTime" />
                    <input type="hidden" asp-for="TheTimeslot.Id" />
                    <input type="hidden" asp-for="TheTimeslot.Calendar.Hold[0].Id" /><br />

                    <button class="btn btn-primary" type="submit">Book it!</button>
                </form>

            </div>
        </div>
    </div>
</div>