@model VejledningsBooking.ViewModel.CreateBookingViewModel
<div id="CreateBookingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create booking</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="createBookingModalbody" class="modal-body">
                <form id="createBookingForm" action="../Timeslot/AttachBooking" method="post">
                    @Html.AntiForgeryToken()
                    <h5>Start time</h5>
                    <label asp-for="TheBooking.StartDateTime" id="bookStartTime"></label>
                    <input type="hidden" asp-for="dt1" id="hiddenbookStartTime" />
                    <h5>End time</h5>
                    <label id="bookEndTime"></label>
                    <input type="hidden" asp-for="dt2" id="hiddenbookEndTime" />

                    <h5>With teacher</h5>
                    <label id="lblFirstnameTeacher" asp-for="ThePerson.FirstName"></label>
                    <input id="rowVersion" type="hidden" asp-for="TheTimeslot.RowVersion" />
                    <input type="hidden" id="TimeslotHiddenId" asp-for="TheTimeslot.Id" />
                    <input id="selectedHiddenCalenderId" type="hidden" asp-for="SelectedCalender.Id" /><br />
                    @if (Model.ThePerson.GetType() == typeof(Model.Student))
                    {
                        <button class="btn btn-primary" type="button" onclick="PostWithoutRefresh(this,'createBookingModalbody');">Book it!</button>

                    }
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>
